.carousel-3d-controls > a.next > span {
  color: white !important;
}
.carousel-3d-controls > a.prev > span {
  color: white !important;
}
.carousel-3d-slide {
  background-color: white;
  border: 1px solid #E6E6FA !important;
}
